@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #cde1ff;
}

.signOUT {
  color: black;
  background-color: white;
  border: none;
}

.navbar { 
  background-color: black;
  color: black;
}

.teams-card {
  transition: transform 0.2s ease;
}

.teams-card:hover {
  transform: scale(1.04);
}

.card-btn-div {
  margin-top: -5px;
  padding-top: -5px;
}

hr {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
}

.team-mem-card {
  transition: transform 0.2s ease;
}

.team-mem-card:hover {
  transform: scale(1.04);
}

.add-mem {
  margin-bottom: 10px;
}

.team-page-head {
  margin-bottom: 15px;
}
